= form_for @wish do |f|
	- if @wish.errors.any?
		#error_explanation
			%h2= "#{pluralize(@wish.errors.count, "error")} prohibited this wish from being saved:"
			%ul
				- @wish.errors.full_messages.each do |msg|
					%li= msg

	.form-group
		= f.label :name
		.text_field
			= f.text_field :name
	.form-group
		= f.label :description
		.text_field
			= f.text_area :description
	.form-group
		= f.label :url
		.text_field
			= f.text_field :url
	.form-group
		= f.submit 'Save', class: [:btn, :'btn-success']
