.container-fluid
	%h1= "#{@user.first_name}'s Wish List"

	.row.hidden-xs
		.table-responsive
			- if @user == current_user
				= react_component('WishTable', {wishes: @wishes}, {prerender: false})
			- else
				%editable-wish-table{ url: @url }

	.visible-xs
		- @wishes.each do |wish|
			.container-fluid
				.row
					= link_to wish.name, wish.url, class: [:btn, :'btn-primary']
				.row
					%p
						= wish.description


	- if @user == current_user
		.row
			= link_to 'New Wish', new_wish_path, class: [:btn, :'btn-success', :'left-margin']
