%p#notice= notice

%p
  %b Name:
  = link_to @gift_idea.name, @gift_idea.url
%p
  %b Description:
  = @gift_idea.description

= link_to 'Edit', edit_gift_idea_path(@gift_idea)
\|
= link_to 'Back', gift_ideas_path
